body{
background-color: lightblue;
font-family: 'Benne';
}
.header_div{
background-color: white;
color: brown;
}
.header_div img{
width: 100px;
}
.main_div{
background-color: darkblue;
padding: 10px;
margin-top: 15px;
border: 3px solid white;
}
.main_div label{
background-color: white;
width: 310px;
padding: 10px;
margin-bottom: 0px;
box-shadow: 10px 15px 85px red;
}
#camera, #result{
border: 2px solid orange;
width: 310px;
height: 300px;
box-shadow: 5px 15px 8px violet;
}
.main_div button{
width: 310px;
font-size: 16px;
box-shadow: 8px 15px 10px green;
border: 1px solid;
}
.footer_div{
margin-bottom: 50px;
}
.footer_div h4{
background-color: white;
border-radius: 10px;
padding: 10px;
box-shadow: 8px 15px 10px yellow ;
}
.footer_div img{
width: 70px;
}
.copy_right_footer{
position:fixed;
color: royalblue;
bottom: 0;
width: 100%;
height: 30px;
background-color: orange;
line-height: 3px;
text-align: center;
}